@import '~@style/colors.scss';

.control-buttons {
  display: flex;

  padding-top: 16px;
  margin-top: 52px;

  border-top: 1px solid $echo-blue;
}

.search-button {
  margin-right: 24px;
}

.search-icon {
  margin-right: 10px;
}
