@import '~@style/colors.scss';

.common {
  display: flex;
  align-items: center;

  color: $white;
  font-size: 14px;
  line-height: 14px;

  outline: none;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  &.primary {
    background-color: $blue;
  }

  &.secondary {
    background-color: $echo-blue;
  }

  &.middle {
    padding: 10px 24px;
  }

  &.small {
    padding: 6px 16px;
  }

  &:hover {
    opacity: 0.8;
  }
}
